
.profile-picture {
  border-radius: 50%;
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("img/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  font-color: 'white';
}

a {
color: white;
}

.name {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
}

.profile-picture {
  border-radius: 50%;
}



